.card {
  max-width: 30rem;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.row {
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}
label {
  font-weight: bold;
  font-size: 12px;
}

.input {
  background: white;
  outline: none;
  cursor: text;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgb(229, 232, 235);
  color: rgb(4, 17, 29);
  font-family: __Inter_6faf11, __Inter_Fallback_6faf11, sans-serif;
  width: 100%;
  padding: 12px;
  height: 48px;
  font-size: 16px;
}

.textarea {
  width: 100%;
  height: auto;
  padding: 12px;
  resize: vertical;
  border: 1px solid rgb(229, 232, 235);
  background-color: transparent;
  border-radius: 10px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}

span img {
  width: 100%;
  max-width: 1.5rem;
}

.label {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
}
