.zoom_effect {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2px;
}

.zoom_effect img {
    width: 100%;
    max-width: 25rem;
    height: 25rem;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.zoom_effect img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

h3 {
    font-size: 0.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h5{
    margin-bottom: 0 !important;
}

hr{
    color: lightseagreen !important;
    margin: 0 !important;
}

span{
    font-weight: 700;
}